* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  line-height: 1.2;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  margin: 10px 30px;
}

.error {
  border: 2px solid red;
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
}

.form-header {
  text-align: center;
  background-color: #ccc;
  border: 1px solid rgb(214, 217, 220);
  border-radius: 5px;
  margin: 40px 45px;
  padding: 50px;
}

fieldset {
  margin: 0 0 15px;
}

.button {
  width: 200px;
  text-align: center;
}

.data {
  padding: 15px;
  border: 1px solid black;
  margin-bottom: 15px;;
}